*{
    box-sizing: border-box;
}

body,
html
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    font-family: "PT sans",sans-serif;
}


a{
    text-decoration: none;
}

/*********** HEADER STYLES ************/

header{
    background: #0FCABF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 1rem .3rem;
}

nav ul{
    display: none;
}

.name {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    letter-spacing: .6px;
    flex-shrink: 1;
    line-height: 1;
    color: #fff;
    margin: 1rem;
}

#navSelect{
    width: 90%;
    margin: 1rem;
    color: #7e7e7e;
}


