*{
    box-sizing: border-box;
}

body,
html
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    font-family: "PT sans",sans-serif;
}


a{
    text-decoration: none;
}

img {
    max-width: 90%;
}
/*********** HEADER STYLES ************/

header{
    background: #0FCABF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap-reverse;
    align-content: center;
    padding: 1.2rem .3rem 1.8rem;
}

nav ul{
    display: none;
}

.name {
    line-height: .5;
    text-align: center;
    width: 100%;
    max-width: 280px;
    margin: .8rem auto;
}

.name a{
    font-family: 'Paytone One', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    letter-spacing: 1px;
    line-height: 0;
    flex: 1;
    color: #fff;
    margin: 1rem;
    text-align: center;
    width: 100%;
}

.name a span{
    text-align: center;
    margin-left: 2rem;
}

#navSelect{
    width: 100%;
    color: #5a5a5a;
    padding: .4rem .2rem;
    border: 0;
    background: transparent;
    line-height: 1;
    -webkit-appearance: none;
}
 
.select_container{
    width: 90%;
    max-width: 280px;
    height: 1.3%;
    margin: 1rem auto;
   background: url('../svg/caret5.svg') no-repeat right #fff;
    background-size: 10px 10px;
    background-position: 96% 50%;
}

#navSelect:focus{
    border: 0;
    box-shadow: 0;
    outline: none;
}

/******************************
            SLIDER 
******************************/
#slide-Panel{
    width: 100%;
    height: 40%;
    overflow: hidden;
}

.wrap{
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    text-align: center;
    overflow: hidden;
}


.slide{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 2em 2em;
    color: white;
    font-size: 1em;
    transition: left 0s .75s;
    background: #fff;
    background-repeat: no-repeat;
    background-position:50% 50%;
    background-size: cover;
} 

.slide a {
    background: #0FCABF;
    padding: .6rem 1.6rem;
    color: white;
    font-weight: 700;
    margin: 1rem;
}

.wrap input[type="radio"]{
    position: absolute;
    z-index: 200;
    bottom: 10%;
    left: auto;
    right: auto;
}

.wrap input[type="radio"]:nth-of-type(1){
    margin-left: -1.2rem;
}
    
#slider-2-trigger{
  margin-left: .4rem;
}

.slide-two{
    background-image: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/35VYJ0NK0V.jpg'); 
}


.slide-one{
        background-image: url('https://images.unsplash.com/photo-1432821596592-e2c18b78144f?crop=entropy&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1175'); 
}
    

[id^="slider"]:checked + section {
    z-index: 100;
    left: 0;
    transition: left .65s ease-out;
}
.slide :not(img){
    display: none;
}

.slide img{
    opacity: .6;
    width: 220px;
    height: 148px;
    margin: 2em auto;
    
}

/******************************
        info styles
******************************/

.info h1 {
    
}    




/******************************
    
******************************/
